.div{
    width: 98%;
    margin: auto;
    max-width: 1440px;
    .divpt{
        padding: 0 25px;
    }
}
@media(min-width:768px){
    .div{
        width: 90%;
        .divpt{
            padding: 0 85px;
        }
    }
}
@media(min-width:992px){
    .div{
        width: 85%;
        .divpt{
            padding: 0 135px;
        }
    }
}