.background .control {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background .control .texts {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 12px;
}
.background .control .texts h2 {
  position: relative;
  color: #1c3f39;
  text-align: center;
  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
}
.background .control .texts h2 img {
  position: absolute;
  left: 75%;
  top: 15px;
  width: 70px;
}
.background .control .texts p {
  color: #556561;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.background .control .flex .control1 {
  width: 100%;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10.82517px 33.67832px 0px rgba(0, 0, 0, 0.07);
  border: 1px solid #ccd3d2;
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.background .control .flex .control1 .img1 {
  padding: 8px 8px;
}
.background .control .flex .control1 .img1 img {
  width: 140px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 6px;
  background: lightgray 50%/cover no-repeat;
}
.background .control .flex .control1 .text1 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.background .control .flex .control1 .text1 h2 {
  width: 159px;
  color: #1c3f39;
  font-family: Manrope;
  font-size: 12.012px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.042px; /* 150.199% */
}
.background .control .flex .control1 .text1 hr {
  width: 22px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 0.5px;
  background: #26534c;
  border: none;
  margin: 0;
}
.background .control .flex .control1 .text1 p {
  width: 166px;
  color: #556561;
  font-family: Manrope;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}
.background .control .flex .control1 .text1 button {
  color: #1c3f39;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 160% */
  background-color: transparent;
  border: none;
  padding-right: 100px;
  padding-left: 0;
}
.background .control .button1 {
  padding-bottom: 100px;
}
.background .control .button1 button {
  color: #1c3f39;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  margin-top: 28px;
}

@media (min-width: 768px) {
  .background .control .texts {
    align-items: center;
  }
  .background .control .texts p {
    width: 380px;
  }
  .background .control .texts h2 img {
    left: 164px;
  }
  .background .control .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background .control .flex .control1 {
    width: 100%;
  }
  .background .control .flex .control1 .text1 h2 {
    font-size: 15px;
    width: 220px;
  }
  .background .control .flex .control1 .text1 p {
    font-size: 12px;
    width: 220px;
    line-height: 16px;
  }
  .background .control .flex .control1 .text1 button {
    margin-right: 170px;
  }
}
@media (min-width: 992px) {
  .background .control .texts {
    align-items: center;
    gap: 20px;
  }
  .background .control .texts p {
    width: 430px;
    color: #556561;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
  .background .control .texts h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
  }
  .background .control .texts h2 img {
    left: 260px;
    width: 120px;
    top: 20px;
  }
  .background .control .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
    gap: 30px;
  }
  .background .control .flex .control1 {
    width: 46%;
  }
  .background .control .flex .control1 .img1 img {
    width: 234px;
    height: 248px;
    flex-shrink: 0;
  }
  .background .control .flex .control1 .text1 {
    gap: 16px;
  }
  .background .control .flex .control1 .text1 h2 {
    font-size: 20px;
    width: 269px;
    line-height: 30px;
  }
  .background .control .flex .control1 .text1 p {
    font-size: 14px;
    line-height: 24px;
    width: 269px;
  }
  .background .control .flex .control1 .text1 hr {
    width: 35px;
    height: 2px;
    flex-shrink: 0;
    border: 1px;
  }
  .background .control .flex .control1 .text1 button {
    margin-right: 100px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
  .background .control .button1 {
    margin-top: 55px;
    padding-bottom: 170px;
  }
  .background .control .button1 button {
    width: 166px;
  }
}/*# sourceMappingURL=index.module.css.map */