.background {
  background: #e9e6d7;
}
.background .texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 56px;
}
.background .texts .text1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .texts .text1 img {
  width: 102px;
}
.background .texts .text1 p {
  padding-top: 15px;
  color: #556561;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.background .texts .text1 .icons {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.background .texts .text1 .icons .instagramicon {
  background-color: #d1cdb7;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .texts .text1 .icons .instagramicon:hover {
  background-color: #F2AC0D;
  transition: 800ms;
}
.background .texts .text1 .icons .linkedinicon {
  background-color: #d1cdb7;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .texts .text1 .icons .linkedinicon:hover {
  background-color: #F2AC0D;
  transition: 800ms;
}
.background .texts .text1 .icons .gmailicon {
  background-color: #d1cdb7;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .texts .text1 .icons .gmailicon:hover {
  background-color: #F2AC0D;
  transition: 800ms;
}
.background .texts .text2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .texts .text2 h2 {
  padding-bottom: 22px;
  padding-top: 28px;
  color: #1c3f39;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.background .texts .text2 p {
  color: #556561;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.background .texts .text3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .texts .text3 h2 {
  padding-bottom: 22px;
  padding-top: 28px;
  color: #1c3f39;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.background .texts .text3 p {
  color: #556561;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.background .texts .text4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .texts .text4 h2 {
  padding-bottom: 22px;
  padding-top: 28px;
  color: #1c3f39;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.background .texts .text4 p {
  color: #556561;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.background .texts .text5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .texts .text5 h2 {
  padding-bottom: 22px;
  padding-top: 28px;
  color: #1c3f39;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.background .texts .text5 p {
  color: #556561;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.background .controlicon {
  display: flex;
  justify-content: flex-end;
}
.background .controlicon .up {
  background: #26534c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25px;
  padding: 15px;
  border-radius: 8px;
}
.background hr {
  margin-bottom: 20px;
  background: #556561;
}
.background .language {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.background .language h2 {
  color: #556561;
  /* P2 */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.background .language .up {
  rotate: 180deg;
}

@media (min-width: 992px) {
  .background .texts {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
    gap: 80px;
  }
  .background .texts .text1 {
    padding-top: 35px;
  }
  .background .language {
    padding-bottom: 28px;
  }
}/*# sourceMappingURL=index.module.css.map */