.background {
  background: #e9e6d7;
  overflow: hidden;
position: relative;
  .images {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 0;
    .image1 {
      display: none;
    }
    .image2 {
      width: 390px;
      flex-shrink: 0;
    }
  }
  .div {
    .text {
      position: relative;
      padding-top: 45px;
      h2 {
        position: relative;
        width: 339px;
        color: #1c3f39;
        text-align: center;
        font-family: Manrope;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 12px;
        img {
          position: absolute;
          left: 177px;
          top: 86px;
        }
      }
      p {
       
        width: 339px;
        color: #556561;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    
      }
    }
    .buttons {
      display: flex;
      gap: 22px;
      z-index: 20;
      position: relative;
      padding-top: 28px;
      padding-bottom: 36px;
      .button1 {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #1c3f39;
        text-align: center;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 166.667% */
      }
      .button2 {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #1c3f39;
        text-align: center;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 166.667% */
      }
    }
    .qurans {
      display: flex;
      width: 100%;
      gap: 10px;
      position: relative;
      .quran {
        
        width: 195px;

        flex-shrink: 0;
        border-radius: 12px 12px 0px 0px;
        background: lightgray 50% / cover no-repeat;
      }
      .readquran {
       
        width: 136px;

        flex-shrink: 0;
        border-radius: 12px 12px 0px 0px;
        background: lightgray 50% / cover no-repeat;
      }
    }
  }
}

@media (min-width: 768px) {
  .background {
    background: #e9e6d7;

    .images {
      display: flex;
      justify-content: center;
      left: 50%;
      transform: translate(-50%);
    }
    .div {
      .text {
        position: relative;
        h2 {
          
          
          position: relative;
          width: 539px;
          color: #1c3f39;
          text-align: center;
          font-family: Manrope;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 56px;
          img {
            position: absolute;
            width: 160px;
            left: 312px;
            top: 50px;
          }
        }
        p {
          padding-top: 20px;
          width: 500px;
          font-size: 16px;
        }
      }
      .buttons{
        justify-content: center;
        gap: 18px;
        padding-bottom: 55px;
      }
      .qurans {
        gap: 20px;
        .quran {
          
          width: 255px;

        }
        .readquran {
          
          width: 225px;

        }
      }
    }
  }
}

@media (min-width: 992px) {
  .background {
    background: #e9e6d7;
    .images {
      display: flex;
      justify-content: space-around;
      gap: 100px;
      width: 100%;
      .image1 {
        display: flex;
        height: 839px;
        padding-top: 100px;
      }
      .image2 {
        width: 670px;
        height: 839px;
        padding-top: 100px;
      }
    }
    .div {
      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 77px;
        h2 {
 
          
          width: 700px;
          color: #1c3f39;
          text-align: center;
          font-family: Manrope;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 72px;
          img{
            position: absolute;
            width: 210px;
            left: 405px;
            top: 64px;
          }
        }
        p {
          width: 670px;
          font-family: Manrope;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          padding-top: 24px;
        }
      }
      .buttons{
        padding-top: 38px;
        gap: 22px;
        padding-bottom: 78px;
      }
      .qurans {
        gap: 30px;
        .quran {
          width: 670px;
          flex-shrink: 0;
        }
        .readquran {
          width: 470px;
          flex-shrink: 0;
        }
      }
    }
  }
}
