.background {
  background: #e9e6d7;
  overflow: hidden;
  position: relative;
}
.background .images {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 0;
}
.background .images .image1 {
  display: none;
}
.background .images .image2 {
  width: 390px;
  flex-shrink: 0;
}
.background .div .text {
  position: relative;
  padding-top: 45px;
}
.background .div .text h2 {
  position: relative;
  width: 339px;
  color: #1c3f39;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 12px;
}
.background .div .text h2 img {
  position: absolute;
  left: 177px;
  top: 86px;
}
.background .div .text p {
  width: 339px;
  color: #556561;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.background .div .buttons {
  display: flex;
  gap: 22px;
  z-index: 20;
  position: relative;
  padding-top: 28px;
  padding-bottom: 36px;
}
.background .div .buttons .button1 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1c3f39;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.background .div .buttons .button2 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1c3f39;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.background .div .qurans {
  display: flex;
  width: 100%;
  gap: 10px;
  position: relative;
}
.background .div .qurans .quran {
  width: 195px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  background: lightgray 50%/cover no-repeat;
}
.background .div .qurans .readquran {
  width: 136px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  background: lightgray 50%/cover no-repeat;
}

@media (min-width: 768px) {
  .background {
    background: #e9e6d7;
  }
  .background .images {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
  }
  .background .div .text {
    position: relative;
  }
  .background .div .text h2 {
    position: relative;
    width: 539px;
    color: #1c3f39;
    text-align: center;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
  }
  .background .div .text h2 img {
    position: absolute;
    width: 160px;
    left: 312px;
    top: 50px;
  }
  .background .div .text p {
    padding-top: 20px;
    width: 500px;
    font-size: 16px;
  }
  .background .div .buttons {
    justify-content: center;
    gap: 18px;
    padding-bottom: 55px;
  }
  .background .div .qurans {
    gap: 20px;
  }
  .background .div .qurans .quran {
    width: 255px;
  }
  .background .div .qurans .readquran {
    width: 225px;
  }
}
@media (min-width: 992px) {
  .background {
    background: #e9e6d7;
  }
  .background .images {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    width: 100%;
  }
  .background .images .image1 {
    display: flex;
    height: 839px;
    padding-top: 100px;
  }
  .background .images .image2 {
    width: 670px;
    height: 839px;
    padding-top: 100px;
  }
  .background .div .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 77px;
  }
  .background .div .text h2 {
    width: 700px;
    color: #1c3f39;
    text-align: center;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
  }
  .background .div .text h2 img {
    position: absolute;
    width: 210px;
    left: 405px;
    top: 64px;
  }
  .background .div .text p {
    width: 670px;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
  }
  .background .div .buttons {
    padding-top: 38px;
    gap: 22px;
    padding-bottom: 78px;
  }
  .background .div .qurans {
    gap: 30px;
  }
  .background .div .qurans .quran {
    width: 670px;
    flex-shrink: 0;
  }
  .background .div .qurans .readquran {
    width: 470px;
    flex-shrink: 0;
  }
}/*# sourceMappingURL=index.module.css.map */